html, body{
  font-family: Montserrat, Arial, sans-serif;
}
.page-container{
  display: grid;
  grid-template-rows: 0fr 0fr 0fr 0fr 0fr 0fr;
  grid-template-areas: "nav" "header" "revolutionaryEditor" "hereIsWhatYouGet" "people-are-talking" "footer";
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.people-are-talking {
  grid-area: people-are-talking;
}

