@import "variables";

.nav {
  &__container {
    grid-area: nav;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 31px 10px;
    background-color: $mobMenuBackgroundColor;
    position: relative;
  }

  &__list {
    position: absolute;
    top: 104px;
    display: none;
    z-index: 10;
  }
  &__item {
    padding: 29px 0 21px 35px;
    background-color: $dropDownMenuBackground;
    border-bottom: 1px solid #3B3B3B;
    box-sizing: border-box;
    width: 290px;
    list-style: none;
    font-size: $dropDownMenuFont;
    position: relative;

  }
  &__link {
    text-decoration: none;
    color: $colorWhite;
    &:hover {
      color: #8d81ac;
      &::before {
        content: ' ';
        display: block;
        position: absolute;
        height: 50px;
        border-left: 5px solid #8d81ac;
        left: 0px;
        top: 14px;
      }
    }
  }
  &__bar-btn {
    background: none;
    border: none;
    font-size: $navBarBtnFont;
    color: $colorWhite;
    padding: 0 5px;
  }
}

.active {
  display: block;
}

.logo {
  cursor: pointer;
  background-image: url("../img/Logo.png");
  background-repeat: no-repeat;
  height: 41px;
  width: 43px;
  &:hover {
    background-image: url("../img/logo-hover.png");
  }
  &:hover .logo__text {
    color: $colorWhite;
  }
  &__text {
    @include logo-font;
    margin-left: 10px;
    display: none;
    margin: 10px 0 0 55px;
  }
}

.button {
  @include button;
  &:hover {
    background-color: $colorWhite;
    color: #8D81AC;
  }
  &--small-purple {
    background-color: $headerButtonColor;
    padding: 11px 22px;
    font-size: $buttonSmallFont;
  }
  &--large-purple {
    background-color: $headerButtonColor;
    font-size: $buttonLargeFont;
    padding: 13px 29px;
    position: absolute;
    bottom: -22px;
  }
}

.header {
  grid-area: header;
  &__container {
    @include flex-column;
    background-image: url("../img/header-img-desctop.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px 10px 537px 0;
    position: relative;
  }
  &__title {
    @include header-title;
    font-size: $headerTitleFont;
    color: $headerTitle;
  }
  &__slogan {
    margin-top: 19px;
    font-size: $headerSloganFont;
    color: $headerSlogan;
  }
  &__text {
    margin-top: 14px;
    font-size: $headerTextFont;
    color: $headerText;
  }
  &__trial-proposition {
    color: $headerText;
    font-size: $headerTextFont;
    position: absolute;
    bottom: -7%;
  }
}
