@mixin logo-font {
  font-family: Lato;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  color: #8D81AC;
}

@mixin button {
  cursor: pointer;
  border-radius: 40px;
  color: #ffffff;
  text-decoration: none;
  border: 1px solid #8d81ac;
  font-weight: bold;

}

@mixin header-title {
  font-weight: bold;
  color: $headerTitle;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@mixin flex-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin nav-bar-font {
  font-size: 16px;
  font-weight: bold;
  color: $navBarColor;
}

@mixin section-heading {
  font-size: 36px;
  font-weight: bold;
  color: $colorWhite;
}