.people-are-talking {
  &__container {
    background-image: url("../img/People_are_talking_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 12% 10px;
    display: grid;
    grid-template-rows: repeat(8, 0fr);
    grid-template-areas: 'heading' 'smashing' 'codrops' 'doubleU' 'pixel-buddha' 'creative-bloq' 'tnw' 'footer';
    grid-row-gap: 45px;
  }
}

.section-heading {
  @include section-heading;
}

.people-are-talking {
  &__heading {
    grid-area: heading;
    text-align: center;
  }
  &__item--smashing {
    grid-area: smashing;
  }
  &__item--codrops {
    grid-area: codrops;
  }
  &__item--doubleU {
    grid-area: doubleU;
  }
  &__item--pixel-buddha {
    grid-area: pixel-buddha;
  }
  &__item--creative-bloq {
    grid-area: creative-bloq;
  }
  &__item--tnw {
    grid-area: tnw;
  }
  &__footer {
    grid-area: footer;
    text-align: center;
    font-family: Lato;
    font-size: $peopleAreTalkingFooterFont;
    color: $peopleAreTalkingFooter;
    line-height: 21px;
    &::after {
      content: ' ';
      display: block;
      border-bottom: 2px solid #645766;
      width: 80%;
      margin: 20px auto 0;
    }
  }
}

.people-are-talking-item {
  text-align: center;
  cursor: pointer;
  &__text {
    font-family: Lato;
    font-style: italic;
    font-weight: bold;
    font-size: $peopleAreTalkingItemTextFont;
    line-height: 24px;
    color: $colorWhite;
    margin-top: 20px;
    padding: 0 10px;
  }
}