@import "variables";

.revolutionary-editor {
  grid-area: revolutionaryEditor;
}

.revolutionary-editor__container {
  padding: 0 10px;
  @include flex-column;
  justify-content: center;

  &-title {
    font-weight: bold;
    font-size: $revolutionaryEditorTitleFont;
    text-align: center;
    text-transform: uppercase;
    color: $revolutionaryTitle;
    margin: 130px 0 27px 0 ;
  }
  &-text{
    font-size: $revolutionaryEditorTextFont;
    text-align: center;
    color: #323232;
    margin-bottom: 36px;
  }
}
.icon__container{
  @include flex-row;
  flex-wrap: wrap;
  text-align: center;
  padding-bottom: 88px;
}
.far, .fas{
  padding-right: 5px;
}
.icon__list{
  list-style: none;
  display: flex;
  margin: 0 10px 10px 0;
  line-height: 20px;
  &-item{
    text-decoration: none;
    padding: 3px 12px;
    font-size: 12px;
    color: $iconText;
    background-color: $iconBoxShadowLeft;
    box-shadow: 0 1px 0 $iconBoxShadowLeft, inset 0 1px 0 $iconBoxShadowRight;
    font-weight: 500;
    border: 1px solid $iconBorder;
    border-radius: 6px 0 0 6px;
  }
  &-text{
    text-decoration: none;
    padding: 3px 12px;
    font-size: $revolutionaryIconTextFont;
    font-weight: 600;
    color: $iconText;
    float: left;
    background-color: $iconButtonRightSide;
    border: 1px solid $iconBorder;
    border-left: 0;
    border-radius: 0 6px 6px 0;
    box-shadow: 0 1px 0 $iconBoxShadowLeft, inset 0 1px 0 $iconBoxShadowRight;
  }
}
