/** Colors **/
$revolutionaryTitle: #635C73;
$revolutionaryText: #323232;
$iconButtonRightSide: #fff;
$iconText: #24292e;
$iconBorder: rgba(27,31,35,.15);
$iconBoxShadowLeft: rgba(27,31,35,.04);
$iconBoxShadowRight: hsla(0,0%,100%,.25);
$dropDownMenuBackground: #333333;
$mobMenuBackgroundColor: #27262A;
$headerButtonColor: #8D81AC;
$colorWhite: #fff;
$activeCardBack: rgba(70, 48, 72, 0.84);
$activeCardTitle: rgba(0, 0, 0, 0.11);
$cardLineColor: #8D81AC;
$headerTitle: #fff;
$headerSlogan: #8D81AC;
$headerText: #848E97;
$navBarColor: #8D81AC;
$peopleAreTalkingFooter: #A291A5;
$hereIsWhatYouGet_title: #8D81AC;
$hereIsWhatYouGet_item-title: #323232;
$hereIsWhatYouGet_item-text: #848E97;
$hereIsWhatYouGet_back: #F4F4F4;
$hereIsWhatYouGet_back780px: #FFF;

/**Fonts**/
$dropDownMenuFont: 26px;
$buttonSmallFont: 15px;
$buttonSmallFontTablet: 16px;
$buttonLargeFont: 16px;
$buttonLargeFontTablet: 21px;
$navBarBtnFont: 30px;
$headerTitleFont: 48px;
$headerTitleFontTablet: 72px;
$headerSloganFont: 18px;
$headerSloganFontTablet: 24px;
$headerTextFont: 14px;
$revolutionaryEditorTitleFont: 26px;
$revolutionaryEditorTextFont: 14px;
$revolutionaryIconTextFont: 12px;
$hereIsWhatYouGetTitleFont: 32px;
$hereIsWhatYouGetTitleFontDesktop: 48px;
$hereIsWhatYouGetItemFont: 16px;
$hereIsWhatYouGetTextFont: 14px;
$peopleAreTalkingFooterFont: 14px;
$peopleAreTalkingItemTextFont: 16px;
$peopleAreTalkingTitleFontDesktop: 42px;
$forkSubscriptionTitleFont: 28px;
$forkSubscriptionItemTitleFont: 24px;
$forkSubscriptionItemPriceFont: 60px;
$forkSubscriptionItemTextTopFont: 14px;
$forkSubscriptionItemTextBottomFont: 16px;
$forkSubscriptionItemButtonTextFont: 15px;

/**Breakpoints**/
$tabletSize: 481px;
$desktopSize: 993px;